---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Container from "../components/Container.astro";
import Slick from "../components/Slick.astro";
import activities from "../data/activities.json";
import guides from "../data/guides.json";
import craftsman from "../data/craftsman.json";

const gradient = "bg-white";
---

<Layout title="Puerto Jiménez">
  <main>
    <Nav />
    <Container>
      <div class={`flex flex-col gap-4 p-4 rounded-lg shadow-md ${gradient}`}>
        <p class="text-gray-700 text-lg leading-relaxed font-lora">
			<span class="font-bold text-green-600">The Puerto Jiménez</span> is a small town in the south of Costa Rica. It is a
          beautiful place with a lot of nature and wildlife. This town is the
          primary gateway to the <span class="font-bold text-green-600"
            >Corcovado National Park</span
          >, one of the most biodiverse places in the world.
        </p>
      </div>

      <Slick
        list={activities}
        title="Activities"
        background="bg-green-200"
        textColor="text-gray-800"
      />

      <Slick
        list={guides}
        title="Guides"
        background="bg-green-200"
        textColor="text-gray-800"
      />

      <Slick
        list={craftsman}
        title="Craftsman"
        background="bg-green-200"
        textColor="text-gray-800"
      />
    </Container>
	<!-- add a footer -->
	<footer class="text-center text-gray-500 text-sm mt-5 mb-5">
		<p>PuertoJimenez.info &copy; 2024</p>
		<p>Made with ❤️ by <a href="https://wilberth.com" class="mt-2 text-green-600">Wilberth.com</a></p>
	</footer>
  </main>
</Layout>
