<div class="px-5">
<div class="bg-white dark:bg-gray-800 container mx-auto p-5 m-5 max-w-4xl rounded-lg shadow-lg border border-gray-200 dark:border-gray-700 transition-colors duration-300">
	<slot />
</div>
</div>