<!-- Navbar -->
<nav class="bg-green-700 p-4 shadow-lg">
	<div class="container mx-auto flex justify-between items-center">
		<h1 class="text-white text-2xl font-bold ml-4">Puerto Jiménez</h1>
<!-- 		<ul class="flex space-x-4">
			<li><a href="#" class="text-white hover:text-green-300 transition duration-300">Home</a></li>
			<li><a href="#" class="text-white hover:text-green-300 transition duration-300">About</a></li>
			<li><a href="#" class="text-white hover:text-green-300 transition duration-300">Contact</a></li>
		</ul> -->
	</div>
</nav>